@import url('../shared.css');

footer {
	color: var(--text-white)
}

.grid {
	display: flex;
	justify-content: center;
	gap: 1rem;
}

.copyright {
	justify-self: center;
}

.line {
	background-color: var(--accent-purple);
	height: 1rem;
}