<main class="main">
  <h1>Linky</h1>
  <p>Put in link and get it shorter</p>
  <br>
  <div class="card">
    <form class="justify-center" [formGroup]="inputForm" (ngSubmit)="handleSubmit()">
      <input placeholder="Your link.." type="url" formControlName="url">
      <button type="submit" [disabled]="!inputForm.valid">
        <span class="submit" [class.invalid]="!inputForm.valid">⇒</span>
      </button>
    </form>
  </div>
  <div class="inline">
    <p class="output">{{output}}</p>
    <button class="copy">⎘</button>
  </div>
</main>
